{% extends "crypto/base.html" %}

{% block content %}

<div class="container">
    <br/>
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Crypto News Network</h1>
        <p class="lead">Everything you need to know about crypto currencies.</p>
    </div>

    <br/>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">24h Low</th>
                <th scope="col">24h High</th>
                <th scope="col">Market Cap</th>
            </tr>
        </thead>
        <tbody>
            {% for key,value in price.DISPLAY.items %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ value.USD.PRICE }}</td>
                    <td>{{ value.USD.HIGHDAY }}</td>
                    <td>{{ value.USD.LOWDAY }}</td>
                    <td>{{ value.USD.MKTCAP }}</td>
                </tr>
            {% endfor %}
        </tbody>    
    </table>
    <br/>
    <h3>All crypto currency news</h3>
    <hr/>
    <div class="row">
        {% for news in api.Data %}
            <div class="col-sm-4" style="margin-bottom: 20px;">
                <div class="card" style="width: 18rem;">
                        {{ news.img }}
                    <img class="card-img-top" src="{{ news.imageurl }}" alt="{{ news.source }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ news.title }}</h5>
                        <p class="card-text">{{ news.body|safe|slice:":100" }}...</p>
                        <a href="{{ news.url }}" class="btn btn-primary">Read more</a>
                    </div>
                </div>
            </div>
        {% endfor %}
        
        <!--{{ api.Data }}-->
    </div>
</div>

{% endblock %}